$link-theme-color: #007cba;
$primary-theme-color: #000000;
$secondary-theme-color: #707070;
$gray-theme-color: #eeeeee;
$green-theme-color: #0F8B8D;
$lightgray-theme-color: #F3F7F6;
$white-theme-color: #ffffff;
$border-theme-color: #c2cbd8;
$success-msg-color: #74bc35;
$error-msg-color: #CC0000;